<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${course != null}">
    <img th:src="${course.image}"/>
    <h1 th:text="${course.name}"></h1>
    <h1 th:text="${course.duration}"></h1>
    <h1 th:text="${course.instructor}"></h1>
    <form action="/enrollment/register" method="post" >
        <input type="hidden" name="courseId" th:value="${course.id}">
        <button type="submit">Đăng kí khóa học</button>
    </form>
</div>
</body>
</html>