<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/all-course">
    <input type="text" name="name" placeholder="Tìm tên" th:value="${name}" >
    <button type="submit">Tìm kiếm</button>
</form>


<table border="1px">
    <thead>
    <th>Hình ảnh</th>
    <th>ID</th>
    <th>Tên khóa học</th>
    <th>Tên giảng viên</th>
    <th>Thời lượng</th>
    <th>Ngày tạo</th>
    <th>Thao tác</th>
    </thead>
    <tbody>
    <tr th:each="c: ${listCourse}">
        <td><img th:src="${c.getImage()}" width="100" height="100" alt="no image"/></td>
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.instructor}"></td>
        <td th:text="${c.duration}"></td>
        <td th:text="${c.createAt}"></td>
        <td>
            <a th:href="@{/admin/courses/update/{id}(id=${c.id})}">
                <button type="button">Sửa</button>
            </a>
            <form action="/admin/courses/delete" method="post"
                  onsubmit="return confirm('Xác nhận xóa');">
                <input type="hidden" name="id" th:value="${c.id}" />
                <button type="submit">Xóa</button>
            </form>


        </td>
    </tr>
    </tbody>
</table>
</body>
</html>