<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My profile</h1>
<form method="post" action="" th:object="${student}">
    <h3>Cập nhật thông tin</h3>
    <div>
        <label for="name">Họ và tên</label>
        <input id="name" th:field="*{name}">
    </div>
    <div>
        <label for="phone">Số điện thoại</label>
        <input id="phone" th:field="*{phone}">
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email">
    </div>
    <div>
        <label for="sex">Giới tính</label>
        <select name="sex" id="sex">
            <option value="true">Nam</option>
            <option value="false">Nữ</option>
        </select>
    </div>
    <div>
        <label for="dob">Ngày sinh</label>
        <input id="dob" type="date">
    </div>
    <button type="submit">Lưu thay đổi</button>
</form>
</body>
</html>