<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thêm mới khóa học</h1>
<form action="/admin/courses/add" method="post" th:object="${addCourseRequest}" enctype="multipart/form-data">
    <div>
        Tên khoas học
        <input type="text" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div>
        Tên giảng viên
        <input type="text" th:field="*{instructor}">
        <p th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}"></p>
    </div>
    <div>
        Thời lượng (giờ)
        <input type="text" th:field="*{duration}">
        <p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></p>
    </div>
    <div>
        Ảnh
        <input type="file" th:field="*{image}">
<!--        <p th:if="${#fields.hasErrors('')}" th:errors="*{}"></p>-->
    </div>
    <button type="submit">Thêm mới</button>
</form>
</body>
</html>