<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Chỉnh sửa thông tin khóa học</h1>
<h1>Cập nhật khóa học</h1>
<form th:action="@{/admin/courses/update/{id}(id=${courseId})}" method="post" th:object="${updateCourseRequest}" enctype="multipart/form-data">
  <div>
    Tên giảng viên
    <input type="text" th:field="*{instructor}"/>
    <p th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}"></p>
  </div>
  <div>
    Thời lượng (giờ)
    <input type="text" th:field="*{duration}"/>
    <p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></p>
  </div>
  <div>
    Ảnh mới (nếu muốn thay đổi)
    <input type="file" th:field="*{image}">
  </div>
  <button type="submit">Cập nhật</button>
</form>
</body>
</html>