<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lí đăng kí khóa học</title>
    <link rel="stylesheet" href="/static/css/admin-course.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="admin-layout">

    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="admin-content">
        <h1>Quản lý đăng kí khóa học</h1>

        <!-- Search Form -->
        <div class="search-form">
            <form method="get" action="/admin/enrollments/">
                <input type="text" name="name" placeholder="Tìm tên" th:value="${name}">

                <select name="status">
                    <option value="" th:selected="${status == null or status == ''}">Chọn trạng thái</option>
                    <option value="CONFIRM" th:selected="${status == 'CONFIRM'}">Đang học</option>
                    <option value="WAITING" th:selected="${status == 'WAITING'}">Chờ duyệt</option>
                    <option value="CANCEL" th:selected="${status == 'CANCEL'}">Đã hủy</option>
                    <option value="DENIED" th:selected="${status == 'DENIED'}">Bị từ chối</option>
                </select>
                <button type="submit" class="search-btn">Tìm kiếm</button>
            </form>

        </div>
        <!-- Courses Table -->
        <div class="table-container">
            <table class="courses-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên sinh viên</th>
                    <th>Tên khóa học</th>
                    <th>Ngày đăng kí</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${page.content}">
                    <td th:text="${e.id}"></td>
                    <td th:text="${e.student.name}"></td>
                    <td th:text="${e.course.name}"></td>
                    <td th:text="${#temporals.format(e.registedAt, 'dd/MM/yyyy')}"></td>
                    <td th:text="${e.status}"></td>
                    <td class="action-buttons">
                        <form action="/admin/enrollment/approve" method="post">
                            <input type="hidden" name="enrollmentApprovedId" th:value="${e.id}">
                            <select name="status" th:if="${e.status.name() == 'WAITING'}" onchange="this.form.submit()">
                                <option value="" th:selected="${status == null}">Duyệt</option>
                                <option value="CONFIRM" th:selected="${status == 'CONFIRM'}">Xác nhận</option>
                                <option value="DENIED" th:selected="${status == 'DENIED'}">Từ chối</option>
                            </select>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--    Pagination-->
        <div class="mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li th:class="|page-item ${page.currentPage<=0?'disable':''}|">
                        <a class="page-link"
                           th:href="|/admin/enrollments?page=${page.currentPage+-1}&name=${page.keyword}&status=${page.sortBy}|"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:if="${page.totalPages!=0}"
                        th:each="p,loop : ${#numbers.sequence(1,page.totalPages)} "
                        th:class="|page-item ${page.currentPage==loop.index?'active':''}|">
                        <a class="page-link"
                           th:href="|/admin/enrollments?page=${loop.index}&name=${page.keyword}&status=${page.sortBy}|"
                           th:text="${p}">
                        </a>
                    </li>

                    <li th:class="|page-item ${page.currentPage+1 >= page.totalPages ? 'disable' : ''}|">
                        <a class="page-link"
                           th:href="|/admin/enrollments?page=${page.currentPage+1}&name=${page.keyword}&status=${page.sortBy}|"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>