<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="navbar" class="main-nav">
    <div class="nav-center">
        <a th:href="@{/}" class="nav-btn">Danh sách khóa học</a>
        <a th:href="@{/enrollment}" class="nav-btn">Khóa học của tôi</a>
        <a th:href="@{/profile}" class="nav-btn">Thông tin cá nhân</a>
    </div>
    <div class="d-flex flex-column"></div>
    <div class="nav-right">
        <div th:if="${student != null}">
            <div th:text="${student.name}"></div>
            <form action="/auth/logout" method="post">
                <button type="submit">Đăng xuất</button>
            </form>
        </div>

        <div th:if="${student == null}">
            <a th:href="@{/auth/login}" class="logout-btn">Đăng nhập</a>
        </div>
    </div>
</nav>
</body>
</html>